.client-list {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.client-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.client-info button {
    margin-left: 10px;
}

.pet-form {
    display: fixed;
    gap: 10px;
    margin-top: 10px;
}

.pet-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.pet-form button {
    padding: 8px 12px;
    border: none;
    background-color: #28A745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.pet-form select {
    width: 100%;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    width: 100%;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    margin-right: 10px;
}